@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cooper Lt BT";
  src:
    url("fonts/cooper_bold_bt-webfont.woff2") format("woff2"),
    url("fonts/cooper_bold_bt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --theme-color: rgb(223, 58, 142);
  --background: rgb(255, 228, 246);
}

* {
  box-sizing: border-box;
  /* border: 1px solid #000; */
}

@layer base {
  html {
    font-family: "Cooper Lt BT", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    background: var(--background);
  }

  a:hover {
    color: var(--theme-color);
  }
}

header[class~="after-top"] {
  background: var(--background);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.x {
  animation: x 7s linear infinite alternate;
}

.y {
  animation: y 7s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw)) rotate(360deg);
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh));
  }
}
