@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Cooper Lt BT';
    src: url('../fonts/cooper_bold_bt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    /* border: 1px solid #000; */
    @apply cursor-pickle;
  }

  html {
    font-family: 'Cooper Lt BT', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    @apply bg-primary;
  }

  body {
    @apply text-[calc(20px_+_(24_-_20)_*_((100vw_-_300px)_/_(1600_-_300)))] leading-8 text-black;
  }

  button {
    @apply cursor-pickle;
  }

  #catering-btn a:hover {
    @apply text-black;
    
  a:hover {
    @apply text-brand;
  }

  img {
    @apply max-w-full;
  }

  h1 {
    @apply text-[calc(40px_+_(50_-_40)_*_((100vw_-_300px)_/_(1600_-_300)))] leading-10;
  }

  h2 {
    @apply text-[calc(32px_+_(40_-_32)_*_((100vw_-_300px)_/_(1600_-_300)))] leading-9;
  }

  p {
    @apply min-w-60 tablet:min-w-80 text-left;
  }

  hr {
    @apply border-none;
  }
}

@layer components {
  .link-primary {
    @apply text-black fill-black;
  }

  .link-primary:hover {
    @apply text-brand fill-brand;
  }

  .link-secondary {
    @apply text-black fill-black;
  }

  .link-secondary:hover {
    @apply text-white fill-white;
  }

  .nav-bar #nav__list {
    @apply justify-end gap-7;
  }

  .nav-menu #nav__list {
    @apply fixed flex-col top-28 left-0 h-[calc(100%_-_7rem)] w-full z-20 bg-brand items-center justify-center self-stretch;
  }

  #header.nav-menu {
    @apply transition-[background-position] duration-500 ease-out;
  }

  .nav-menu #nav__list {
    @apply transition-[left] duration-500 ease-out gap-12;
  }

  .nav-menu #nav__list > .menu__item > a {
    @apply text-2xl link-secondary;
  }

  .nav-bar #nav__list > .menu__item > a {
    @apply text-nowrap text-xl link-primary;
  }

  #header.overlay-collapse.nav-menu #nav__list > .menu__item > a {
    @apply invisible;
  }

  .disable-scrollbar {
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    -webkit-scrollbar: none;
  }

  .bullets {
    @apply rounded-full w-4 h-4 bg-brand/30;
  }

  .bullet-active {
    @apply rounded-full w-4 h-4 bg-brand;
  }

  .image-shadow {
    @apply shadow-magazine;
  }

  #catering-btn:hover {
    @apply text-black;
  }

  .floating-images {
    @apply fixed max-tablet:w-[40%] max-tablet:h-[40%] z-20;
  }

  .moving-arm {
    @apply fixed bottom-14 max-tablet:w-[40%] max-tablet:h-[40%] z-20;
  #carousel {
    overflow-anchor: none;
  }

  .magazine {
    @apply h-[360px] w-[240px] snap-always snap-center border-solid border-[1px] border-black transition-all duration-150 ease-in-out;
  }
}

@layer utilities {
  #instagram-btn__icon.link-primary:hover {
    @apply fill-[url(#background)];
  }

  .overlay-collapse.nav-menu #nav__list {
    @apply left-full;
  }

  .overlay-toggle.nav-menu #nav__list {
    @apply left-0;
  }
}

#header.after-scroll {
  @apply bg-gradient-to-r from-primary to-brand bg-[length:200%] from-50% to-50% shadow-lg;
}

#header.overlay-collapse {
  @apply bg-left;
}

#header.overlay-toggle {
  @apply bg-right;
}

.overlay-collapse.nav-menu #nav__list {
  @apply animate-slide-out;
}

.overlay-toggle.nav-menu #nav__list {
  @apply animate-slide-in;
}
