@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Cooper Lt BT';
    src: url('../fonts/cooper_bold_bt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    /* border: 1px solid #000; */
    @apply cursor-pickle;
  }

  html {
    font-family: 'Cooper Lt BT', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    @apply bg-primary;
  }

  button {
    @apply cursor-pickle;
  }

  a:hover {
    @apply text-brand;
  }

  img {
    max-width: 100%;
  }

  div#navbar.scrolled {
    @apply bg-primary shadow;
  }

  h1 {
    @apply text-4xl tablet:text-5xl desktop:text-6xl;
  }

  hr {
    @apply border-none;
  }

  i::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
}
