@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Cooper Lt BT';
    src: url('../fonts/cooper_bold_bt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    /* border: 1px solid #000; */
    @apply cursor-pickle;
  }

  html {
    font-family: 'Cooper Lt BT', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    @apply bg-primary;
  }

  body {
    @apply text-[19px] text-black tablet:text-xl desktop:text-2xl;
  }

  button {
    @apply cursor-pickle;
  }

  a:hover {
    @apply text-brand;
  }

  img {
    max-width: 100%;
  }

  #header.scrolled {
    @apply bg-gradient-to-r from-primary to-brand bg-[length:200%] from-50% to-50% shadow;
  }

  h1 {
    @apply text-4xl tablet:text-5xl desktop:text-6xl;
  }

  h2 {
    @apply text-2xl tablet:text-3xl desktop:text-4xl;
  }

  h3 {
    @apply text-lg tablet:text-xl desktop:text-2xl;
  }

  p {
    @apply min-w-60 tablet:min-w-80 text-left;
  }

  hr {
    @apply border-none;
  }

  i::before {
    @apply inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  .btn-secondary:hover {
    @apply text-white;
  }

  #instagram-icon.btn-secondary:hover {
    @apply bg-white bg-none;
  }
}
